# Lokalni environment fajlovi (ne verzionisati)
.env
.env.local
.env.*.local
.env.local.php

# Symfony secrets (lokalne / produkcijske)
/config/secrets/prod/prod.decrypt.private.php

# Cache i logs
/var/

# Vendor folder (composer dependencies)
/vendor/

# Frontend dependencies
/node_modules/
/public/assets/
/assets/vendor/

# IDE / editor fajlovi
/.idea/
/.vscode/
/*.iml

# OS fajlovi
.DS_Store
Thumbs.db

# PHPUnit cache
/.phpunit.cache/
